@{
    ViewBag.Title = "Khmer Text";
}

<h2>Online Handwriting Recognition for Khmer Characters</h2>

Now you are able to do hand writing recognition for Khmer character.

<a href="@Url.Action("Index", "Recognition")">Try our Demo Now</a>

